<app-navbar></app-navbar>
<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <p>This is Contact us Page</p>
</div>
<div class="container">
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis non architecto odit doloremque blanditiis,
            similique distinctio quam possimus assumenda cumque officiis harum asperiores. Sapiente rem necessitatibus
            eos perspiciatis iste asperiores libero consequatur, ipsum iusto iure dolore et? Asperiores, aliquam ea amet
            laboriosam mollitia facilis quo recusandae. Aliquam nam, assumenda nulla voluptatum architecto quidem dolor
            commodi ut quia dolore autem aspernatur excepturi harum quas eum accusamus fugit! Est, laborum iusto!
            Similique eum fugiat laborum architecto ea exercitationem harum error perferendis mollitia, suscipit sed,
            placeat nihil officiis deleniti nostrum consequatur labore! Culpa dolorem aliquam quasi exercitationem
            expedita nihil officiis eaque doloremque error.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod recusandae mollitia aut sit nesciunt officia
            suscipit assumenda. Dolorem corporis voluptate cupiditate est nemo. Dolores esse, voluptatibus repellendus
            asperiores quidem deleniti.</p>
    </section>
</div>