<div class="row">
    <div class="col-sm-3" *ngFor="let category of categories">
      <div class="card">
        <div class="card-body">
            <img src="{{'http://rjtmobile.com/grocery/images/'+category.catImage}}" class="card-img-top" alt="...">
          <h5 class="card-title">{{category.catName}}</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a routerLink="{{'/products/'+category.catId}}" class="btn btn-primary btn-block">Select</a>
        </div>
      </div>
    </div>
  </div>